body{
  padding:0%;
  margin: 0%;
}
button{
  border-color: #2d2d2d;
}
.botones0{
  width: 100%;
  height: 110px;
  position: fixed;
  z-index: 5;
 }
      .logo{
        width: 16%;
        height: 100%;
        float: left;
        }
            .logo0{
              background-color: rgb(255, 244, 43);
              width: 100%;
              height: 100%;
               }
              .logo img{
              height:67%;
      }
      .name{
        width: 84%;
        height: 100%;
        float: left;
      }
                .lab{
                  width: 100%;
                  height: 35%;
                 }
                  .lab1{
                    background-color: #ffd8fd;
                    width: 100%;
                    height: 100%;
                    border-left: none;
                    float: left;
                  }
                .recicloso{
                  width: 100%;
                  height: 65%;
                  float: left;
                  }
                  .reci0{
                    width: 59.3%;
                    height: 100%;
                    float: left;
                    }
                        .btn0{
                          background-color: #26ff00;
                          width: 100%;
                          height: 100%;
                          float: left;
                          border-left: none;
                          border-top: none;
                          }
                        .btn0 img{
                          margin-left: 2%;
                          height: 72%;
                        }
                   .reci1{
                     width: 10%;
                     height: 100%;
                     float: left;
                     }
                        .btn1{
                          background-color: #3fd78f;
                          width: 100%;
                          height: 100%;
                          float: left;
                          border-left: none;
                          border-top: none;
                        }
                     .reci2{
                          width: 10.5%;
                          height: 100%;
                          float: left;
                          }
                             .btn2{
                               background-color:#58c7c3;
                               width: 100%;
                               height: 100%;
                               float: left;
                               border-left: none;
                               border-top: none;
                             }
                        .reci3{
                           width: 10.1%;
                           height: 100%;
                           float: left;
                           }
                                 .btn3{
                                   background-color: #98dddb;
                                   width: 100%;
                                   height: 100%;
                                   float: left;
                                   border-left: none;
                                   border-top: none;
                                 }
    

                              .reci4{
                                width: 10.1%;
                                height: 100%;
                                float: left;
                                }
                                      .btn4{
                                        background-color: #d8f2f1;
                                        width: 100%;
                                        height: 100%;
                                        float: left;
                                        border-left: none;
                                        border-top: none;
                                        cursor: pointer;
                                        transition: all 0.1s linear;
                                      }
.btn4:hover {
background:  #ffffff;
}  

#carrito{
  text-align: center;
  align-content: center;
  color: #000000;
  font-size: 30px;
  cursor:pointer;
  } 
.todo{
    width:100%;
  height: 880px;
  padding-top: 110px;
  }

 .w{
  width:100%;
  height: 220px;
  transition: all 0.1s linear;
  }
                    .w11{
                      background-color: rgba(255, 255, 255, 0);
                      width:16%;
                      height: 220px;
                      border-top: none;
                      float: left;                      
                      }
                      .w12{
                        background-color: rgba(255, 255, 255, 0);
                        width:34%;
                        height: 220px;
                        border-top: none;
                        border-left: none;
                        float: left;
                        position: relative
                        }
                        .w13{
                          width:50%;
                          height: 220px;
                          border-top: none;
                          border-left: none;
                          float: left;
                          position: relative;
                          }
#mas{
  color: #2d2d2d ;
  position: absolute;
  left: -40px;
  top: 10px;
  font-size: 27px;
  cursor:pointer;
}
#info{
  color: #2d2d2d ;
  position: absolute;
  left: -40px;
  top: 50px;
  font-size: 27px;
  cursor:pointer;
}
/* ////////////////////////inicia botonmas*/
#botonmas{
  display: none;
}
.mostrar{        /* ////////////////el mismo pa todos/////////////*/
  height: 218px;
  width: 101.8%;
  margin-left: -0.86%;
  display: flex;
  opacity: 0;
  visibility:  hidden;
 }
 #cerocero{
  margin-top: 0;
  background-image: url(programas/adopciones.png);
  background-size: 43%;
  background-position:  bottom;
  background-repeat:no-repeat;
  background-color: #d8f2f1;
}
 #botonmas:checked ~ .mostrar{
  opacity: 1;
  visibility: visible;
}
#wCero:hover {
  background: #d8f2f1;
   }  
 /* ////////////////////////inicia botonmas2*/
#botonmas2{
  display: none;
}
#botonmas2:checked ~ .mostrar{
  opacity: 1;
  visibility: visible;
}
#dosdos{
  margin-top: 0;
  background-image: url(programas/charla.png);
  background-size: 43%;
  background-position: bottom;
  background-repeat:no-repeat;
  margin-top: 0px;
  background-color: #98dddb;
}
#wDos:hover {
  background: #98dddb;
} 
/* ////////////////////////inicia botonmas3*/
#botonmas3{
  display: none;
}
#botonmas3:checked ~ .mostrar{
  opacity: 1;
  visibility: visible;
}
#trestres{
  margin-top: -33px;
  background-color: #58c7c3;
}
#wTres:hover {
  background:#58c7c3;
} 
  
/* ////////////////////////inicia botonmas6*/
#botonmas6{
  display: none;
}
#botonmas6:checked ~ .mostrar{
  opacity: 1;
  visibility: visible;
}
#seisseis{
  margin-top: 0px;
  margin-top: 0;
  background-image: url(programas/metox.png);
  background-size: 80%;
  background-position: bottom;
  background-repeat:no-repeat;
  background-color: #3fd78f;
}
#wSeis:hover {
  background:#3fd78f;
}


 #adoptado{
    background-image:  url(m/000.gif);
    background-size: cover;
    background-position: center;
}
#adopciones{
margin-top: 147px;
margin-right: 20px;
}
#segregado{
  background-image:  url(programas/triturado.gif);
  background-size: cover;
  background-position: center;
}
#producto{
  background-image:  url(programas/cortes.gif);
  background-size: cover;
  background-position: center;
}
#metamorfo{
  background-image:  url(programas/cncs.gif);
  background-size: cover;
  background-position: center;
}

h5{ /*l a b o r a t o r i o*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #2d2d2d ;
  text-align: left;
  margin-left: 1.2%;
  margin-top: 0.5%;
   font-weight: 500;
  letter-spacing: 1px;
}
       
                            #carrito{
                              display: flex;
                              align-items: center;
                              justify-content: center;
                            font-size: 30px;
                            cursor:pointer;
                            } 
                            h2{ /*programa */
                              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                              font-size: 31px;
                              color: #2d2d2d ;
                              font-weight: 620;
                              letter-spacing: 1px;
                             line-height: 30px; /*espacio entre lineas*/
                              }
                              h1{ /*descripcion*/
                                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                                font-size: 14px;
                                color: #2d2d2d ;
                                font-weight: 620;
                                margin-top: 20px;
                                line-height: 15px; /*espacio entre lineas*/
                                display: flex;
                                text-align: justify;
                                align-content: left;
                                margin-left: 20px;
                                margin-right: 10px;
                           }
/*////////BOTÓN//////////////////////////////////////7777*/

/*///////////////////////////////////////////825////////////*/
@media (max-width:825px){ 
  section[id]{
    scroll-margin-top: 88px;
  }  
  .botones0{
    height: 90px;
   }
  .lab1 img{
    height: 32%;
  }
  #carrito{
    font-size: 28px;
    } 
    .todo{
    padding-top: 90px;
    }
    h5{ /*programa */
      font-size: 24px;
      font-weight: 580;
     line-height: 20px; /*espacio entre lineas*/
      }
      h1{ /*descripcion*/
        font-size: 14px;
        font-weight: 500;
        margin-top: 10px;
        line-height: 12px; /*espacio entre lineas*/
        margin-left: 10px;
   }
   #dosdos{
    background-size: 67%;
  }
  #cerocero{
    background-size: 60%;
  }
  #seisseis{
    background-size: 90%;
  }
  .mostrar{        /* ////////////////el mismo pa todos/////////////*/
    height: 218px;
    width: 103.4%;
    margin-left: -1.6%;
   }
  } 
/*///////////////////////////////////////////650/////////////*/
@media (max-width:650px){ 
  h5{ /*programa */
    font-size: 20px;
    font-weight: 550;
   line-height: 16px; /*espacio entre lineas*/
    }
    h1{ /*descripcion*/
      font-size: 12px;
      font-weight: 400;
 }

 .w11 img{ /*numeros*/
height: 30%;
}
 #dosdos{
  background-size: 67%;
}
#cerocero{
  background-size: 60%;
}
#seisseis{
  background-size: 90%;
}
h5{ /*l a b o r a t o r i o*/
  font-size: 12px;
}

}
  /*///////////////////////////////////////////450/////////////*/
  @media (max-width:450px){ 
    section[id]{
      scroll-margin-top: 63px;
    }  
    .botones0{
      height: 65px;
     }
     .btn0 img{
      margin-left: 0;
      height: 59%;
    }
    .lab1 img{
      height: 28%;
      margin-left: 0;
    }
     #carrito{
      font-size: 16px;
      } 
      .todo{
      padding-top: 60px;
      }
      .w{
        height: 440px;
        }
        .w11{
          width: 30% ;
          }
          .w12{
            width: 70% ;
            }
            .w13{
              width: 100% ;
              }
              h5{ /*programa */
                font-size: 24px;
                font-weight: 580;
               line-height: 20px; /*espacio entre lineas*/
                }
                h1{ /*descripcion*/
                  font-size: 14px;
                  font-weight: 500;
                  margin-top: 10px;
                  line-height: 12px; /*espacio entre lineas*/
                  margin-left: 10px;
             }
             #dosdos{
              background-size: 67%;
            }
            #cerocero{
              background-size: 60%;
            }
            #seisseis{
              background-size: 90%;
            }
            .mostrar{        /* ////////////////el mismo pa todos/////////////*/
              height: 218px;
              width: 103.4%;
              margin-left: -1.6%;
             }
             .w11 img{ /*numeros*/
              height: 40%;
              }
              #mas{
                right: -100%;
                top: -15%;
              }
              #info{
                right: -100%;
                top: -30%;
              }
              h5{ /*l a b o r a t o r i o*/
                font-size: 10px;
              margin-left: 1%;
               font-weight: 400;
            }
    }